.genre-option {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
}
.genre-option h2 {
    color: $cloudBlue;
    margin-bottom: 0;
}
.genremovie {
    margin-top: 1rem ;
}

select {
    width: 50%;
    border: 1px solid $cloudBlue;
    background-color: $cloudWhite;
    padding: 0.6rem;
    border-radius: 0.2rem;
    color: $cloudBlue;
 
  }
