header {
    background-color: $cloudBlue;
}

.header-logo {
    width: 8rem;
    padding-left: 2rem;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    padding: 0;
    
    
}
nav {
    background-color: $cloudWhite;
   overflow: hidden;
   position: fixed;
   bottom: 0;
   width: 100%;
   z-index: 10;
}

nav li {
  margin-left: .5rem ;
  margin-right: .5rem;
  margin-top: .5rem;
  
}
nav a:link {
    text-decoration: none;
    color: $cloudBlue;
}

.home{
    stroke: $cloudBlue;
    stroke-width: 50px;
    color: rgba(255, 255, 255, 0);
}
.nav-btn{
    color: $cloudBlue; 
}
#header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav p {
    display: none;
}

@media (min-width:767px) {
    .nav-btn {
        display: none;
    }
    nav p {
        display: inline-block;
        color: $cloudWhite;
        padding-right: .75rem;
    }
    nav {
        position: inherit;
        background-color: $cloudBlue;
        width: inherit;
        display: flex;
    align-items: center;
    padding-top: 2rem;

    
    }
    
}
.search-wrapper {
    width: 50%;
}
.searchbar {
    border-radius: 30px;
    width: 100%;
    height: 46px;
    line-height: 46px;
    font-size: 1.1em;
    border: none;
    text-align: center;
}
.search-form {
    background-color: $cloudBlue;
    width: 100%;
    text-align:center;
    padding:1rem;
}
.search-form label {
    width: 90%;
}

.suggestion {
    z-index: 100;
    background-color: white;
  padding: 10px;
display: block;
list-style: none;
border-bottom: 1px solid $cloudGrey;

}
.autocomplete {
    padding-left: 0px;
    width: 100%;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    a:link {
        text-decoration: none;
      }


  }

  .carousel-control-next,.carousel-control-prev {
      display: none;
  }
  @media (min-width: 767px) {
    .search-form label {
        width: 70%;
    }
  }