header {
    background-color: $cloudBlue;
}

.header-logo {
    width: 8rem;
    padding-left: 2rem;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    padding: 0;
    
    
}
nav {
    background-color: $cloudWhite;
    // min-height: 3rem;
   overflow: hidden;
   position: fixed;
   bottom: 0;
   width: 100%;
   z-index: 10;
}

nav li {
  margin-left: .5rem ;
  margin-right: .5rem;
  
}
nav a:link {
    text-decoration: none;
    color: $cloudBlue;
}

.home{
    stroke: $cloudBlue;
    stroke-width: 50px;
    color: rgba(255, 255, 255, 0);
}
.nav-btn{
    color: $cloudBlue; 
}
#header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}