header {
    background-color: $cloudBlue;
}

.header-logo {
    width: 8rem;
    padding-left: 2rem;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    
}
nav {
    background-color: $cloudWhite;
    // min-height: 3rem;
   overflow: hidden;
   position: fixed;
   bottom: 0;
   width: 100%;
   z-index: 10;
}

nav li {
    color: $cloudBlue;
  
}
nav a:link {
    text-decoration: none;
    color: $cloudBlue;
}